
.Table-color {
  color: #6457A6;
}

.Image-logo {
    height: 5%;
    width: 5%;
}
.High-header {
    color: #45e946;
}

.Low-header {
    color: red;
}
.Main-bg {
    background-color: #6457A6;
}

.Main-header {
    color: sandybrown;
    font-size: 3em;
}

.Main-color {
    color: #9DACFF;
}
