body, html {
    height: 100%;
    width: 100%;
}

.Main-bg {
    background-image: url(../src/images/city2.png);
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Main-header {
    color: white;
    font-size: 6em;
}

.Second-header {
    color: sandybrown;
    font-size: 3em;
    line-height:  0.5em;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../src/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../src/fonts/montserrat/Montserrat-Medium.ttf');
}
<!-- TABLE -->

table {
    width: 100%;
}

.Table-header {
    padding: 25px;
    font-weight: unset;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 1em;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.32);
}

.Table-Content {
    color: white;
    font-size: 1em;
}

.list-group-item {
    background-color: transparent;
}


.Main-table td:hover {
    background-color: rgba(255,255,255,0.2);
}

.Singel-hover:hover {
    background-color: rgba(255,255,255,0.2);
}

.Main-table {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: linear-gradient(-68deg, #ac32e4 , #4801ff);
    font-family: Montserrat-Medium;
    background-color: rgba(255,255,255,0.32);
}
