body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url('../src/fonts/montserrat/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Montserrat-Medium";
    src: local('Montserrat-Medium"'), url(../src/fonts/montserrat/Montserrat-Medium.ttf) format('ttf');
}


.Main-header {
    color: white;
    font-size: 4em;
    letter-spacing: 1px;
    margin-top: 20%;
    cursor: pointer;
}

.Second-header {
    color: #b0e8eb;
    font-size: 2.3em;
    letter-spacing: 3px;
}

.logo {
    width: 5.5%;
    margin-bottom: 1%;
}


/* TABLE */


.Table-header {
    padding-top: 24px;
    padding-bottom: 20px;
    font-weight: unset;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.32);
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
 ;
}


.Table-Content {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 42px;
    cursor: pointer;
}

.list-group-item {
    background-color: transparent;
    width: 99%;
    margin-right: 100%;
}


.Main-table td:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Singel-hover:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Main-table {
    margin-right: 30%;
    border-radius: 16px;
    margin-top: 5%;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: -o-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: -moz-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: linear-gradient(-68deg, #ac32e4, #4801ff);
    background-color: rgba(255, 255, 255, 0.32);
}

/* PAGINATION */

.pagination-Container {
    width: 400px;
    height: 400px;
    margin-top: 15%;
}

.pagination-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    background: #7918f2;
    background: -webkit-linear-gradient(360deg, #ac32e4, #4801ff);
    background: -o-linear-gradient(360deg, #ac32e4, #4801ff);
    background: -moz-linear-gradient(360deg, #ac32e4, #4801ff);
    background: linear-gradient(360deg, #ac32e4, #4801ff);
    background-color: rgba(255, 255, 255, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;

}

.pagination-btn:hover {
    transform: scale(1.2) translateY(-5px);
    color: white;
    text-decoration: none;
}


.pagination-btn::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    z-index: -1;
    transition: .3s ease-in-out;
}

.pagination-btn:focus {
    color: #b0e8eb;
}

@keyframes setOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-inn-transition {
    opacity: 1;
    animation: setOpacity 2s;
}


